name: Nyitott kapuk 2026 - Create and run docker image

on:
  workflow_dispatch:
  
  push:
    branches:
      - master
    paths:
      - 'package.json'

jobs:
  publish-image:
    
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2  

    - name: get-version-number
      id: get-version
      run: |
        VERSION=$(cat package.json | jq -r .version)
        echo "::set-output name=current-version::$VERSION"
        
    - name: Docker image exists with current version
      run: |
        TOKEN=$(curl -u bognarpal:${{ secrets.GHCR_TOKEN }} https://ghcr.io/token\?scope\="repository:siro-gyor/nyitottkapuk-swdev-2026>:pull" | jq -r .token)
        errcount=$(curl -H "Authorization: Bearer $TOKEN" -H "Accept: application/vnd.docker.distribution.manifest.v2+json" https://ghcr.io/v2/jedlik-gyor/nyitottkapuk-swdev-2026/manifests/${{steps.get-version.outputs.current-version}} | jq -r '.errors | length')
        if [[ $errcount -eq 0 ]] 
        then  
          exit 1
        else
          exit 0
        fi
    
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: bognarpal
        password: ${{ secrets.GHCR_TOKEN }}          

    - name: Build the Docker image
      working-directory: front-end
      run: |
        docker build . --file ./Dockerfile -t ghcr.io/jedlik-gyor/nyitottkapuk-swdev-2026:${{steps.get-version.outputs.current-version}} -t ghcr.io/jedlik-gyor/nyitottkapuk-swdev-2026:latest 
        docker push ghcr.io/jedlik-gyor/nyitottkapuk-swdev-2026:latest
        docker push ghcr.io/jedlik-gyor/nyitottkapuk-swdev-2026:${{steps.get-version.outputs.current-version}}        

    - name: Git pull
      run: |
        git pull
        
    - name: Update image tag for container in K8S deployment file
      uses: loveholidays/gitops-action-yaml-updater@v1.0
      with:
        mode: IMAGE_TAG
        container-name: client
        new-image-tag: ${{steps.get-version.outputs.current-version}}
        filepath: k8s/nyitottkapuk-swdev-2026-deployment.yaml

    - name: Commit changes
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: GitHub action - update image tag in K8S deployment file
        push_options: --force